$color1: #C9A689;
$footer-color1: #7C593C;

$color_border_bottom_header: #89C0C9;
$border_border_top_header: #3a5E63;

$bg_focal_background_color: #C9A689;
$bg_focal_color: #7C593C;

$bg_content1_background_color: #fff;
$bg_content_color: #222;

$bg_content2_background_color: #C7F7FF;
$bg_content2_color: #3a5E63;

$bg_footer_color: #d4d4d4;

$footer_row_border_left: #3a5E63;

$header_nav_color: #222;
$header_nav_border: #d4d4d4;
$header_nav_hoover: #7C593C;


$font_stack1: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font_1: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;